In [1]:
#1- Write a code to reverse a string.

s= "hello pyhton"
string=s[::-1]
print(string)

nothyp olleh

In [11]:
#2- write a code to count the number of vowels in a string.

S="Hello I am using python"
count=0
vowels=["a","e","i","o","u"]
for i in range(len(s)):
    if s[i] in vowels:
        count +=1
print("the number of vowels in a string",count)

the number of vowels in a string 3

In [18]:
#3-write a code to check if given string is a palindrome or not.

s="eye"
if s==s[::-1]:
    print("given string is palindrome")

given string is palindrome

In [21]:
#4-write a code to check if given string is anagrams of each other.

str1= "Race"
str2= "Care"

str1=str1.lower()
str2=str2.lower()

sorted_str1= sorted(str1)
sorted_str2 =sorted(str2)

if(sorted_str1==sorted_str2):
    print("are anagram")
else:
    print("are not  anagram")

are anagram

In [22]:
#6 write a code to perfrom basic string compression using the count of reapted character.

String="hello google"
list=[]
for data in string:
    if data not in list:
        list.append(data)
for char in list:
    print(string.count(char))

1
2
1
2
1
1
1
2
1

In [ ]:
#7 write a code to determine if string  has all unique character.

string="hello google"

unqiue_char[]

for char in string:
    if char in unqiue_char:
        print("cha")
else:
    print(unqiue_char.append(char)

In [ ]:
#8- write a code to given string to upper to lowercae.

string= "hello google"
print(string.upper())

string1= "HELLO GOOGLE"
print(string1.lower())

In [5]:
#9 write a code to count the number of a string.

string="hello google"
print(len(string))

12

In [6]:
#10- write a code to conccatenate two strimgs without + operator.

str1= "hello"
str2= "pyhton"

concat= " ".join([str1,str2])
print(" the concat sting is")
print(concat)

 the concat sting is
hello pyhton

In [9]:
#11 write a code to remove all occurence of a specifc element form a list.

list=["apple","mango","lichi","peach"]
list.clear()
print(list)

[]

In [12]:
#12-Implement a code to find the second largest number in a given list of integer.

list=[20,10,30,40,50]
list.sort()
print("the second largest number of list is:",list[-2])

the second largest number of list is: 40

In [13]:
#13-write a code to reverse a list in place without using any built function 

list=["apple","lichi","mango"]
list.reverse()
print(list)

['mango', 'lichi', 'apple']

In [16]:
list=[1,8,9,7,3,5]
list.sort()
if(list.sort()==list):
    print("list is sorted")
else:
    print("list is not sorted")

list is not sorted

In [20]:
#17- write a code to merge two sorted listed into one single list.
list1=[1,2,3,4]
list2=[7,8,9]
list1.append(list2)
print(list1)

[1, 2, 3, 4, [7, 8, 9]]

In [6]:
#18- Implement a code to find the intersection of tow digits.

list1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]
list2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]
intersection_list=[]

for i in list1:
    if (i in list2):
        intersection_list.append(i)
print(intersection_list)

[9, 10, 5, 4, 9]

In [8]:
#19- craete a code to find the the union of two list.

list1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]
list2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]
union_list=[]

for i in list1:
    if (i not in list2):
        union_list.append(i)
print(union_list)

[15, 56, 23, 78]

In [11]:
#21- write a code that takes two tuples as a input and retuns a new touple conttainng elemnts that are common to both tuple.

tup1=(1,2,3)
tup2=(4,5,6)
res= tup1+tup2

print("The tuple after concatenation is : " + str(res))

The tuple after concatenation is : (1, 2, 3, 4, 5, 6)

In [12]:
#22- write a code to that prompts the user to enter the two set of integer seprated by comma, print intersection of there two set

s={1,2,3,4,5}
s1={6,7,4,2,8,9}
s.intersection(s1)

{2, 4}

In [13]:
#30- write a code that prompts uset to input two strings ,print the symmetric diference of these two set

s={1,2,3,4,5}
s1={6,7,8,9,10}
s.symmetric_difference(s1)
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [19]:
#28 write a code that define two set of intger prinit the union ,intersection and differece

s={1,2,3,4,5}
s1={6,7,8,9,10}
s.union(s1)



s={1,2,3,4,5}
s1={6,7,4,2,8,9}
s.intersection(s1)


s={1,2,3,4,5}
s1={6,7,8,9,10}
s.difference(s1)

{1, 2, 3, 4, 5}

In [18]:
#24- develop a code to prompts user to input two set of strings print the elments that are present first set but not in the second set.

s={"hello","good","morning"}
s1={"bye","good","evening"}
s.difference(s1)

{'hello', 'morning'}

In [17]:
#26- write a code that prompts the user to input two set of characters.print the union of two set.

s={"hello","good","morning"}
s1={"bye","happy","evening"}
s.union(s1)

{'bye', 'evening', 'good', 'happy', 'hello', 'morning'}